.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0 ;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}
.none{
    display: none !important;
}
.inputfile + label {
    max-width: 80%;
    font-size: 16px;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 1.25rem 2.5rem;
    font-size: 16px;
    width: 80%;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none ;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 2px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 2 */

.inputfile-2 + label {
    /*color:white;*/
    border: 1px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    /*color: #722040;*/
    color:#ff3d63;
}
