.input1 {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 18px;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field1 {
	position: relative;
	display: block;
	float: right;
	padding-top:4px; 
	padding-bottom:6px;
	padding-left: 20px;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; 
}

/* Individual styles */

/* Makiko */
.input--makiko {
	overflow: hidden;
	/*background: #CBCBCB;*/
	background: transparent;
	border: 1px solid white;
	border-radius: 20px; 
}

.input__field--makiko {
	width: 100%;
	background: transparent;
	color: #797693;
	z-index: 10;
	font-weight: 500;
}

.input__label--makiko {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
	color: #fff;
}

/*.input__label--makiko::before {
	content: '';
	position: absolute;
	width: 18px;
	height: 34px;
	top: 45%;
	left: 20px;
	background: url(../img/search.svg) no-repeat center center;
	background-size: 100%;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.4s cubic-bezier(0.7,0,0.3,1);
}*/

.input__label-content--makiko {
	display: block;
	padding: .4em 0 0 1em;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.4s cubic-bezier(0.7,0,0.3,1);
	font-size: 14px;
}
/*
.input__field--makiko:focus + .input__label--makiko::before,
.input--filled .input__label--makiko::before {
	-webkit-transform: scale3d(38, 38, 1);
	transform: scale3d(38, 38, 1);
	font-size: 14px;
	border: 0 !important;
	box-shadow: none !important;

}*/